.image {
	position: relative;
	width: 100%; 
	height: 1131px;
	background-image:url(img/head.png);
}
.logo{
	margin-top: 10em;
	margin-bottom: 10em;
}
.wite{
	color: white;
	font-family: 'Roboto Slab';
	margin-bottom: 1em;
	font-size: 68px;
}
.witeq{
	color: white;
	font-family: 'Roboto Slab';
	margin-bottom: 60px;
}

a.button{
	text-decoration: none;
	color: white;
	font-family: 'Roboto Slab';
	border: 0px solid;
	border-radius: 60%;
	background-image: -moz-linear-gradient( 0deg, rgb(133,67,153) 0%, rgb(155,68,153) 48%, rgb(177,69,153) 100%);
  background-image: -webkit-linear-gradient( 0deg, rgb(133,67,153) 0%, rgb(155,68,153) 48%, rgb(177,69,153) 100%);
  background-image: -ms-linear-gradient( 0deg, rgb(133,67,153) 0%, rgb(155,68,153) 48%, rgb(177,69,153) 100%);
	width: 200px;
	height: 100px;
	-moz-border-radius: 100px / 30px;
	-webkit-border-radius: 100px / 30px;
	border-radius: 100px / 70px;
	padding: 10px 2.5em 10px 2.5em;
}
.osno{
	margin-top:10em;
}
.witee{
	margin-top: 1em;
	font-size: 64px;
	font-family: 'Spartan';
}
.grid{
	display: grid;
	grid-template-columns: 50% 50%;
}
.fon{
	width: 30em;
}
.text{
	margin-top: 2em;
	margin-bottom: 40px;
}
.center{
	text-align: center;
	margin-bottom: 2em;
}
.grido{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}
.link{
	text-align: center;
}
.center{
	text-align: center;
}
.title_f{
	color:#FF6CF2;
	opacity: 0.5;
}
.grid_two{
	margin-bottom: 100px;
}
@media(max-width: 1000px){
	.fon{
		display: none;
	}
	.grid{
	grid-template-columns: 10fr;
  }
 .osno{
	margin-top: 1em;
}
.wite{
	color: white;
	font-family: 'Roboto Slab';
	margin-bottom: 1em;
	font-size: 43px;
}
.witeq{
	color: white;
	font-family: 'Roboto Slab';
	margin-bottom: 34px;
}
}
@media(max-width: 700px){
	.grido{
	grid-template-columns: 1fr;
  }
  .title_f{
    	margin-top: 2em;
  }
  
}